.global-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.g-nav {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  height: 60px;
}

.g-nav__container {
  display: inline-flex;
  padding: 0 4px;
}

.g-nav__items {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.g-nav__item {
  padding-left: 15px;
}

.g-nav__item > :only-child {
  user-select: none;
}

.g-nav__items.links {
  padding-right: 15px;
}

.g-nav__link {
  color: inherit;
  font-size: small;
}

.g-nav__items.btns .circle {
  border-radius: 50%;
}

.g-nav__item.btn-container {
  padding: 4px;
}

.g-nav__btn {
  display: flex;
  height: 40px;
  width: 40px;
}

.g-nav__btn.apps-btn {
  padding: 8px;
}

.g-nav__btn.img-btn {
  padding: 4px;
}

.g-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 92px;
  max-height: 200px;
}

.g-form {
  text-align: center;
  padding: 13px;
  max-height: 166px;
}

.g-form__container {
  max-width: 584px;
  padding-top: 6px;
  margin: 0 auto;
}

.g-form__global-input {
  box-sizing: content-box;
  display: flex;
  height: 44px;
  border: 1px solid lightgrey;
  border-radius: 24px;
}

.g-form__global-input:hover {
  box-shadow: 0 1px 7px 1px rgb(30 30 30 / 30%);
  border-color: transparent;
}

.g-form__input-container {
  flex: 1;
  display: flex;
  padding: 5px 10px 5px 15px;
}

.g-form__search-icon-container {
  display: flex;
  padding-right: 13px;
}

.g-form__search-icon {
  width: 20px;
  height: 20px;
  margin: auto;
}

.g-form__input {
  flex: 100%;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

.g-form__micro-icon-container {
  display: flex;
  padding: 0 8px;
  cursor: pointer;
}

.g-form__micro-icon {
  width: 24px;
  height: 24px;
  margin: auto;
}

.g-form__btns-container {
  box-sizing: content-box;
  height: 70px;
  padding-top: 18px;
}

.g-form__btns-container input[type="submit"] {
  font: inherit;
  color: rgb(70 70 70);
  height: 36px;
  padding: 0 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 11px 4px;
  cursor: pointer;
}

.g-form__btns-container input[type="submit"]:hover {
  color: inherit;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%);
}

.change-language {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: small;
  margin-bottom: 24px;
}

.change-language__text {
  display: flex;
}

.change-language__text :first-child:hover {
  text-decoration: none;
}

.change-language__text :last-child {
  color: #1a0dab;
  padding: 0 3px;
}

.g-footer {
  color: #70757a;
  background-color: #f2f2f2;
}

.g-footer__country {
  font-size: 1.5rem;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.g-footer__global-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 20px;
}

.g-footer__global-links > div[class*="links"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.g-footer__link {
  font: inherit;
  color: inherit;
  padding: 15px;
}

.g-footer__right-links button:only-of-type {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@media (min-width: 625px) {
  .g-logo {
    max-height: 290px;
  }

  .g-logo__img {
    width: 272px;
    height: 92px;
  }

  .g-form {
    padding: 20px;
  }
}

@media (min-width: 664px) {
  .g-footer__global-links {
    justify-content: space-between;
  }
}
